DATABASE_URL="file:./prisma/jcute_snip.db"
BOT_TOKEN="YANGI_BOTFATHER_TOKENINI_SHU_YERGA_YOZING"
WEBAPP_URL="https://YOUR-NGROK-URL.ngrok-free.app"
ADMIN_TELEGRAM_ID="719139730"
PORT=3000
TZ="Asia/Tashkent"
