DATABASE_URL="file:./prisma/jcute_snip.db"
BOT_TOKEN="8972538099:AAEtxQd_0QottTDKdbOPtS-ETMpspnHC93g"
WEBAPP_URL="https://YOUR-NGROK-URL.ngrok-free.app"
ADMIN_TELEGRAM_ID="719139730"
PORT=3000
TZ="Asia/Tashkent"
