DATABASE_URL="file:./prisma/jcute_snip.db"
BOT_TOKEN="8972538099:AAEtxQd_0QottTDKdbOPtS-ETMpspnHC93g"
WEBAPP_URL="https://jcute-snip-bot1.onrender.com"
ADMIN_TELEGRAM_ID="719139730"
GEMINI_API_KEY="AIzaSyBVYCyuUWOpby_tTjt12H4cMrGMo0j2noQ"
PORT=3000
TZ="Asia/Tashkent"
